body{
  font-family: "Montserrat";
  width: 100%;
}

.home{
  background: url("../img/background.jpg");
  background-size: cover;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 3rem;
  color: #AAA492 !important;
  font-weight: 900;
}

.nav-link{
  color: #fff !important;
}

.nav-link:hover{
margin: -5px;
color: #AAA492 !important;
}

.header{
padding: 2rem;
}

h1{
 font-family: "Montserrat";
 font-weight: 900;
 font-size: 4rem;
 color: #FCFFE7;
}

h3{
  font-weight: 400;
  color: #FCFFE7;
  opacity: 0.5;
}

h5{
  opacity: 1;
  font-weight: bold;
}

.h3-white-back{
  color: black;
}

.color-t{
color: red !important;
}



.details{
margin-top: 100px;
}

.html{
  color:#E34C26;
  margin-right: 10px;
  margin-top: 10px;
}

.css{
  color:blue;
  margin-right: 30px;
    margin-top: 10px;
}

.profilePic{
  width: 50%;
  box-shadow: 5px 10px 8px #888888;
  opacity: 1;
  margin: 2px;
}

.personal-data{
  text-align: center;
}

.quote{
width: 70%;
margin: auto;
padding: 4rem 0 2rem;
text-align: center;
color: #FAF5E4;
}

.resume{
  background-color: ##AAA492 !important;
}

.resume-heading{
  width:50%;
  margin: auto;
  text-align: center;
}

.container-fluid{
  padding: 3% 6% 1% 6%;
}

.resume-img{
  width: 40%;
}

.courses{
  padding: 30px 5px 20px 5px;
  text-decoration: none;
}

.align{
text-align: center;
}


.icon-hover:hover{
  color: #AAA492;
}

/* hobbies section */
.hobbies{
  margin-top: 6%;
  margin-bottom: 3%;
  background: url("../img/background.jpg");
  background-size: cover;
}
.heading-hobbies{
  color: #fff !important;
  opacity: 1;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}
.container-hobbies{
  padding: 5% 10%;
}

.carouselImg{
  height: 500px !important;
  margin-left: 140px !important;
}
.carrom{
  color: #000;
}


/* achivements */

.achievement-container{
  margin: 3% 5%;
}

.heading-achievements{
  color: #000;
  opacity: 1;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.card-align{
  text-align: center;
  margin-left: 50px;
  padding-top: 10px;
  margin-top: 10px;
}

/* experience */

.experience-container{
margin: 3% 5%;
}

.heading-experience{
  color: #000;
  opacity: 1;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

/* footer */
.bottom-container{
  background-color: #000;
padding: 50px 0 20px 0;


}
.footer-container{
  width: 80%;
  margin: auto;
  text-align: center;
}
.footer-link{
  text-decoration: none;
  color: #11999E;
  margin:  20px;
}
.bottom-container p{
  color: #EAF6F6;
  margin-top: 20px;
  font-size: 0.8rem;
}
.footer-link:hover{
  color: #fff;
}

/* footer button */
.contact-me{
width: 80%;
margin: auto;
text-align: center;
}

.btn-contact{
  padding: 10px 30px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(188,246,255,1) 0%, rgba(165,199,205,1) 94%);
  border-radius: 20px;
  text-decoration: none;
  color: #000;

}

.btn:hover{
  background: black;
  color: gold;
  border:2px solid gold;
}

.btn-contact:hover{
  background: black;
  color: gold;
  border:2px solid gold;
}

/* contact page */

.contact{
  background: url("../img/background.jpg");
  background-size: cover;
}

.heading-contact{
  width: 80%;
  text-align: center;
  margin: auto;
}

.form-container{
  width: 80%;
  text-align: center;
  margin: auto;
  color: #fff;
  line-height: 2;
  padding-bottom: 20px;
}

.text-edit{
  margin: 10px;
  border-radius: 8px;
  background-color: #E0D8B0;
  color: #000;
}

.btn-style{
  color: #fff;
}


/* carousel media query */
